@model AppPresencial.Models.ClsEmpleado
@{
    ViewBag.Title = "Descripcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Usuario</h1>
<h2>@Model.DUI</h2>

<label>USUARIO :</label>
<br />
<input type="text" name="Usuario" required placeholder="Escribe tu Usuario" />
<br />
<label>DUI :</label>
<br />
<input type="number" name="Dui" required placeholder="Escribe tu Dui" />
<br />
<br />
<button  style="color:darkblue; font-size:18px;">Enviar  </button>
<br />
<br />
<button  style="color:red; font-size:18px">Eliminar</button>
<script>
    alert("Hola Bienvenidos/as")
</script>

        
    

