@model List<AppPresencial.Models.ClsEmpleado>
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Descripcion", "Editar");
<h2>Editar</h2>
<br />
<input type="text" name="Usuario" required  />
<br />
<label>DUI :</label>
<br />
<input type="number" name="Dui" required />
<br />
<br />


